@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: white;
    overflow: hidden;
}

.header-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: fixed;
    background: transparent;
    overflow: hidden;

}

.nav-header{
    width: 40%;
}

.list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    overflow: hidden;

}

li{
    opacity: 0.3;
    cursor: pointer;
    transition: 0.5s all;
    font-weight: 600;
    overflow: hidden;
}

li:hover{
    transform: scale(1.2);
    opacity: 1.1;
    overflow: hidden;
}

main img{
    width: 100%;
}

.text-image{
    position: relative;
    bottom: 320px;
    left: 150px;
    font-size: 1.5rem;
    width: 800px;
    color: white;
}

.paragrafo-image{
    position: relative;
    bottom: 290px;
    left: 150px;
    color: white;
    font-size: 1.1rem;
}

.container{
    display: flex;
    justify-content: center;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.galeria > figure{
    max-width: 20%;
}

footer{
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
}

.footer-container{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 8vw;
}

h5{
    display: flex;
    position: relative;
    left: 12vw;
}

footer p{
    width: 25%;
    display: flex;
    position: relative;
    left: 13vw;
}

@media (max-width: 1200px){
    .list{
        font-size: 15px;
    }

}

@media (max-width: 900px){
    .list{
        font-size: 12px;
    }

    .text-image{
        position: relative;
        bottom: 200px;
        left: 150px;
        color: white;
        font-size: 0.9rem;
    }

    .paragrafo-image{
        position: relative;
        bottom: 180px;
        font-size: 0.7rem;
    }
}

@media(max-width: 866px){
    
}

